:root {
  --clr-black: 	hsl(0, 0%, 12%) ;
  --clr-grey: hsl(0, 0%, 91%) ;
  --clr-blue:	hsl(217, 44%, 49%);
  --clr-cream: hsl(44, 38%, 92%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Lato';
}

html {
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  /* height: 80px; */
}

.nav-container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img{
  height: 5em;
  width: auto;
}

.nav-burger {
  display: none;
}

.nav-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  text-decoration: none;
}

.nav-menu a{
  text-decoration: none;
  color: black;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-menu a:visited{
  color: black;
}

.nav-menu a::after{
  content: '';
  display: block;
  background: #000;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .3s;
}

.nav-menu a:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav-item a:hover {
  color: var(--clr-blue);
}

.sticky {
  box-shadow: 0px 0px 5px ;
}

.hero {
  background-image: linear-gradient(to top, hsla(180, 63%, 50%, 0.589) 0%, hsla(267, 86%, 22%, 0.664) 100%), url(/assets/images/oficina.jpg);
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  margin-top: 80px;
}

.text-intro {
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-intro h1{
  font-size: 60px;
}

.text-intro p {
  font-size: 25px;
  margin-bottom: 20px;
}

.text-intro a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 15px;
  background:hsla(180, 63%, 50%, 0.589);
  color: white;
  border-radius: 7px;
  margin-top: 30px;
}

.svg-hero {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
}

.container,
.wave-container {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 80px 0;
}

.container {
  padding: 80px 0;
}

.title {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.two {
  max-width: 50%;  
  margin: 40px auto;
}

.separator {
  width: 0%;
  min-width: 20%;
  max-width: 100%;
  margin: -10px auto 20px;
  border: none;
  border-bottom: 2px solid var(--clr-blue);
  position: relative;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: 0px 0px 0px 0px #f9f9f9;
}

.separator.activated {
  box-shadow: 0px 4px 0px 0px var(--clr-blue);
}

.separator.negative{
  border-bottom: 2px solid white;
}

.title-left {
  text-align: left;
}

.web {
  display: flex;
  justify-content: space-between;
}

.web img {
  width: 48%;
}

.web .container-text-main {
  width: 40%;
}

.paragraph {
  text-align: justify;
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  text-decoration: none;
  background: var(--clr-blue);
  padding: 10px 15px;
  border-radius: 2px;
  color: white;
}


.info {
  background: var(--clr-blue);
  color: white;
}

.gallery{
  background: var(--clr-grey);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.gallery-container > img {
  width: 40%;
  object-fit: cover;
  margin-bottom: 20px;
  display: block;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* new cards */
.card-container {
  position: relative;
  width: 90%;
  min-height: 480px;
}

.title-cards {
  grid-column: 1 / 5;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  text-align: center;
  margin: 0 20% 0;
}

.allcards {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-rows: 10rem 1fr;
  /* margin: 0 25px 30px 25px; */
  justify-items: center;
}

.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  box-shadow: 0px 1.2vw 4vw -1vw rgba(0, 0, 0, 0.6);
  border-radius: 15px
}

.card-container:hover > .thecard {
  transform: rotateY(180deg);
  box-shadow: 0px 8vw 9vw -6vw rgba(0, 0, 0, 0.5);
}

.thefront {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.thefront i {
  font-size: 5rem;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
  color: lightgrey;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  border-radius: 15px
}

.container-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(70, 131, 180, 0), rgba(71, 61, 139, 0.555) 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding-top: 40%;
}

.container-text p {
  color: white;
  font-size: 20px;
  text-align: center;
}

.thefront img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 15px 15px;
}

.first-pic img {
  object-position: -119px 0px;
}

.theback {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--clr-blue);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px
}

.theback h2{
  display: none;
}

.theback p {
  text-align: justify;
  margin: 0 20% 0;
}

.theback i {
  position: absolute;
  font-size: 5rem;
  top: 13%;
}

.third p {
  margin: 50% 20% 0 20%;
}

.second p {
  margin: 20% 20% 0 20%;
}

.first p {
  margin: 20% 20% 0 20%;
}

/* columns */

.bleed {
  /* width: 100%;
  max-width: 100%;
  min-height: 500px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 70vh;
  margin: 50px 0 10px;
}

.bleed .data {
  padding: 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg 0% 97%);
  font-size: 1.2rem;
}

.bleed .pic {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bleed .stretchone {
  background: url(/assets/images/edificio.jpg);
}

.bleed .stretchtwo {
  background: url(/assets/images/graphguy.jpg);
}

/* sombra imagenes */
.shadow-pic {
  box-shadow: 10px 10px 0px 0px var(--clr-blue);
  object-fit: cover;
}

/* mapa */

.map {
  display: flex;
  justify-content: space-between;
}

.container-text-map {
  width: 30%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.map-picture {
  width: 100%;
}

.descriptor {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.descriptor .data {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.descriptor .icon {
  margin-right: 10px;
  height: 30px;
  width: auto;
}

.descriptor h2{
  font-size: 20px;
}

.descriptor p {
  color: grey;
  font-size: .8em;
}
/* ultima seccion */

.last-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.last-section img {
  width: 48%;
}

.last-section .container-text-main {
  width: 40%;
}

footer {
  background: var(--clr-blue);
  margin-top: -50px;
  color: white;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-formulario {
  display: flex;
  justify-content: space-between;
}

.container-formulario .picture img {
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.picture {
  text-align: center;
  width: 100%;
  position: relative;
  display: block;
  margin-right: 20px;
}

.picture {
  /* position: absolute; */
  color: white;
  width: 30%;
}

.text-over {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
  to right,
  hsl(0, 0%, 0%) 0%,
  hsla(0, 0%, 0%, 0.964) 7.4%,
  hsla(0, 0%, 0%, 0.918) 15.3%,
  hsla(0, 0%, 0%, 0.862) 23.4%,
  hsla(0, 0%, 0%, 0.799) 31.6%,
  hsla(0, 0%, 0%, 0.73) 39.9%,
  hsla(0, 0%, 0%, 0.655) 48.2%,
  hsla(0, 0%, 0%, 0.577) 56.2%,
  hsla(0, 0%, 0%, 0.497) 64%,
  hsla(0, 0%, 0%, 0.417) 71.3%,
  hsla(0, 0%, 0%, 0.337) 78.1%,
  hsla(0, 0%, 0%, 0.259) 84.2%,
  hsla(0, 0%, 0%, 0.186) 89.6%,
  hsla(0, 0%, 0%, 0.117) 94.1%,
  hsla(0, 0%, 0%, 0.054) 97.6%,
  hsla(0, 0%, 0%, 0) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 0 20px;
  align-items: center;
}

.text-over h2{
  margin-bottom: 20px;
}

.input {
  background: transparent;
  border: 0;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 20px 10px;
}

.input::placeholder {
  color: white;
  font-family: Lato;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 48%;
  margin-bottom: 30px;
}

.form textarea {
  width: 100%;
  margin-bottom: 15px;
}

input[type="submit"] {
  width: 120px;
  text-align: center;
  padding: 14px 0;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: var(--clr-blue);
  background: white;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: black;
  font-size: .8rem;
  padding-top: 50px;
}

.footer .mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .mission p {
  text-align: justify;
  max-width: 230px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer .logo{
  width: auto;
  height: 140px;
}

.contacto h2 {
  margin-top: 10px;
  font-size: 20px;
}

.contacto hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.contacto .descriptor{
  align-items: center;
}

.contacto .descriptor p {
  font-size: 14px;
  color: black;
}

.final {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
  background-color:#59595b;
  padding: 20px 20px;
  font-size: 14px;
}

.final a:visited{
  color: white;
}

.final a{
  text-decoration: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-content {
  background-color: white;
  width: 370px;
  padding: 10px 20px;
  /* margin: 20% auto; */
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 10px;
  --shadow-color: 218deg 44% 29%;
  --shadow-elevation-high:
    0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    1.4px 2.8px 3.5px -0.4px hsl(var(--shadow-color) / 0.35),
    2.6px 5.2px 6.4px -0.8px hsl(var(--shadow-color) / 0.35),
    4.3px 8.7px 10.7px -1.1px hsl(var(--shadow-color) / 0.34),
    7px 14px 17.3px -1.5px hsl(var(--shadow-color) / 0.34),
    11.1px 22.1px 27.3px -1.9px hsl(var(--shadow-color) / 0.33),
    16.9px 33.8px 41.7px -2.3px hsl(var(--shadow-color) / 0.33),
    25px 50px 61.6px -2.7px hsl(var(--shadow-color) / 0.32);
  box-shadow: var(--shadow-elevation-high);
}

.modal{
  background-color: hsl(217 44% 49%);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: none;
  transition: all .4s linear;
}

.close-btn{
  align-self: end;
  color: darkgrey;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.close-btn:hover {
  color: black;
  cursor: pointer;
}

.check {
  color: green;
  font-size: 45px;
  animation-name: checko;
  animation-duration: 2s;
}

#fail-logo{
  color: red;
}

.modal-message{
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 10px;
}

.modal-message p {
  margin: 20px 10px 29px;
}

@keyframes checko {
  from { clip-path: circle(0 at center) }
  to { clip-path: circle(100% at center)}
}

@-webkit-keyframes animatetop {
  from {top:-200px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-200px; opacity:0}
  to {top:0; opacity:1}
}

@media screen and (max-width: 800px) {
  /* navbar mobile */
  .nav-burger {
    display: block;
  }
  
  .nav-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    font-size: 2rem;
    background: var(--clr-blue);
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path .5s ease-in-out;
  }

  .nav-menu a{
    color: white;
  }

  .nav-menu a:visited{
    color: white;
  }
  
  .change{
    fill:var(--clr-blue);
  }
  
  .closed {
    clip-path: circle(100% at center);
  }
  
  /* general */
  .text-intro h1 {
    text-align: center;
    font-size: 50px;
  }

  .title {
    font-size: 35px;
  }

  .title-left {
    text-align: center;
  }

  .info p {
    text-align: center;
  }

  .container {
    max-width: 90%;
  }

  /* section 1 */
  .svg-hero {
    margin-bottom: -10px;
    z-index: 9999;
  }

  .web {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
  }

  .web img{
    width: 100%;
  }

  .web .container-text-main {
    width: 100%;
  }

  /* cards */
  .cards {
    max-width: 90%;
  }
  .card {
    width: 95%;
    margin-bottom: 10px;
  }

  /* gallery */
  .gallery-container > img {
    width: 48%;
  }

  /* map */
  .map{
    flex-direction: column;
    justify-content: center;
  }

  .container-text-map {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .map-title{
    width: 100%;
  }

  .nav-menu a::after{
    background: white;
  }

  /* last */
  .last-section img {
    width: 98%;
  }

  .last-section .container-text-main {
    width: 98%;
    margin-bottom: 20px;
  }

  .container-formulario {
    flex-direction: column;
    align-items: center;
  }

  .picture {
    width: 100%;
    display: flex;
    align-content: center;
    margin-bottom: 30px;
  }

  .container-formulario .picture img{
    height: 300px; /* height of container */
    object-fit: cover;
    object-position: 10%; /* try 20px 10px */ 
  }

  .text-over {
    padding: 0 20px 0 20px;
    width: 100%;
  }

  .text-over h2{
    margin-bottom: 20px;
  }

  .allcards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
    align-items: center;
  }

  .theback p {
    margin: 20% 10% 10px 10%;
    max-height: 30%;
    font-size: .9rem;
  }

  .theback {
    transform: none;
    flex-direction: column;
  }

  .theback h2{
    display: block;
  }

  .card-container:hover > .thecard {
    transform: none;
  }
  
  .civil {
    grid-row: 2/3;
  }

  .laboral {
    grid-row: 3/4;
  }

  .comercial-card {
    grid-row: 4/5;
  }

  .third {
    justify-content: space-evenly;
  }

  .third p{
    height: 100%;
    margin-top: 30%;
    margin-bottom: 5px;
  }

  .regulatorio {
    grid-row: 5/6;
  }

  /* new cards */
  .card-container {
    position: relative;
    width: 80%;
    min-height: 300px;
  }

  .map {
    flex-direction: column;
  }

  .bleed{
    height: auto;
  }

  .picture {
    margin: 0 10% 10% 15%;
  }

  .picture .text-over {
    padding: 0 20px 0 3px;
  }
}

@media screen and (max-width: 400px) {
  .title,
  .text-intro h1{
    font-size: 30px;
    text-align: center;
  }

  .web .container-text-main{
    margin-bottom: 30px;
  }

  .gallery-container > img {
    width: 97%;
  }
}
