:root {
  --clr-black: 	hsl(0, 0%, 12%) ;
  --clr-grey: hsl(0, 0%, 91%) ;
  --clr-blue:	hsl(217, 44%, 49%);
  --clr-cream: hsl(44, 38%, 92%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Lato';
}

html {
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  /* height: 80px; */
}

.nav-container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img{
  height: 5em;
  width: auto;
}

.nav-burger {
  display: none;
}

.nav-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  text-decoration: none;
}

.nav-menu a{
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-menu a:visited{
  color: black;
}

.nav-menu a::after{
  content: '';
  display: block;
  background: #000;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .3s;
}

.nav-menu a:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav-item a:hover {
  color: var(--clr-blue);
}

.sticky {
  box-shadow: 0px 0px 5px ;
}

.hero {
  background-image: linear-gradient(to top, hsla(180, 63%, 50%, 0.589) 0%, hsla(267, 86%, 22%, 0.664) 100%), url(/assets/images/2.jpg);
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  margin-top: 80px;
}

.text-intro {
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-intro h1{
  font-size: 60px;
}

.text-intro p {
  font-size: 25px;
  margin-bottom: 20px;
}

.text-intro a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 15px;
  background:hsla(180, 63%, 50%, 0.589);
  color: white;
  border-radius: 7px;
}

.svg-hero {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
}

.container,
.wave-container {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 80px 0;
}

.container {
  padding: 80px 0;
}

.title {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.two {
  max-width: 50%;  
  margin: 40px auto;
}

.separator {
  width: 0%;
  min-width: 20%;
  max-width: 100%;
  margin: -10px auto 20px;
  border: none;
  border-bottom: 2px solid var(--clr-blue);
  position: relative;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: 0px 0px 0px 0px #f9f9f9;
}

.separator.activated {
  box-shadow: 0px 4px 0px 0px var(--clr-blue);
}

.separator.negative{
  border-bottom: 2px solid white;
}

.title-left {
  text-align: left;
}

.web {
  display: flex;
  justify-content: space-between;
}

.web img {
  width: 48%;
}

.web .container-text-main {
  width: 40%;
}

.paragraph {
  text-align: justify;
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  text-decoration: none;
  background: var(--clr-blue);
  padding: 10px 15px;
  border-radius: 2px;
  color: white;
}


.info {
  background: var(--clr-blue);
  color: white;
}

.content-cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 3px 0 rgba(0 , 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.3s;
}

.card:hover {
  box-shadow: 0 0 6px rgba(0 , 0, 0, 0.5);
  transform: scale(1.03);
}

.card i {
  font-size: 60px;
  color: var(--clr-blue);
  margin: 30px auto 20px;
}

.card p {
  font-weight: 300px;
  font-size: 25px;
  margin-bottom: 10px;
}

.gallery{
  background: var(--clr-grey);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.gallery-container > img {
  width: 40%;
  object-fit: cover;
  margin-bottom: 20px;
  display: block;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* mapa */

.map {
  display: flex;
  justify-content: space-between;
}

.container-text-map {
  width: 30%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.map-picture {
  width: 100%;
}

.descriptor {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.descriptor .data {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.descriptor .icon {
  margin-right: 10px;
  height: 30px;
  width: auto;
}

.descriptor h2{
  font-size: 20px;
}

.descriptor p {
  color: grey;
  font-size: .8em;
}
/* ultima seccion */

.last-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.last-section img {
  width: 48%;
}

.last-section .container-text-main {
  width: 40%;
}

footer {
  background: var(--clr-blue);
  margin-top: -50px;
  color: white;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input {
  background: transparent;
  border: 0;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 20px 10px;
}

.input::placeholder {
  color: white;
  font-family: Lato;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 48%;
  margin-bottom: 30px;
}

.form textarea {
  width: 100%;
  margin-bottom: 15px;
}

input[type="submit"] {
  width: 120px;
  text-align: center;
  padding: 14px 0;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: var(--clr-blue);
  background: white;
}

@media screen and (max-width: 800px) {
  /* navbar mobile */
  .nav-burger {
    display: block;
  }
  
  .nav-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    font-size: 2rem;
    background: var(--clr-blue);
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path .5s ease-in-out;
  }

  .nav-menu a:visited{
    color: white;
  }
  
  .change{
    fill:var(--clr-blue);
  }
  
  .closed {
    clip-path: circle(100% at center);
  }
  
  /* general */
  .text-intro h1 {
    text-align: center;
    font-size: 50px;
  }

  .title {
    font-size: 35px;
  }

  .title-left {
    text-align: center;
  }

  .info p {
    text-align: center;
  }

  .container {
    max-width: 90%;
  }

  /* section 1 */
  .svg-hero {
    margin-bottom: -10px;
    z-index: 9999;
  }

  .web {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
  }

  .web img{
    width: 100%;
  }

  .web .container-text-main {
    width: 100%;
  }

  /* cards */
  .cards {
    max-width: 90%;
  }
  .card {
    width: 95%;
    margin-bottom: 10px;
  }

  /* gallery */
  .gallery-container > img {
    width: 48%;
  }

  /* map */
  .map{
    flex-direction: column;
    justify-content: center;
  }

  .container-text-map {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .map-title{
    width: 100%;
  }

  .nav-menu a::after{
    background: white;
  }

  /* last */
  .last-section img {
    width: 98%;
  }

  .last-section .container-text-main {
    width: 98%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .title,
  .text-intro h1{
    font-size: 30px;
    text-align: center;
  }

  .web .container-text-main{
    margin-bottom: 30px;
  }

  .gallery-container > img {
    width: 97%;
  }
}
